:root {
    --bg-primary: black;
    --bg-secondary: gray;
    --color-primary: black;
    --color-secondary: gray;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

#sobre-nosotros,
#contacto,
#servicios {
    margin: 2em 2em 0 2em;
}

.flex{
    display: flex;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

.items-start {
    align-items: start;
}

.items-end {
    align-items: end;
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

/* -------------------------- */

.navbar {}
.navbar > nav {
    padding: 1em 2em;
}
.navbar > nav > ul {
    gap: 1em;
}

/* -------------------------- */

#inicio{
    position: relative;
}

#inicio figure {
    position: relative;
    width: 100%;
    height: 100vh;

    background-image: url("");
    background-attachment: fixed;
}

#inicio figcaption {
    position: absolute;
    inset: 0;
    text-align: center;
    backdrop-filter: brightness(.5);
}

#inicio figcaption article {
    gap: 2.5em;
}

#inicio .home-text {
    gap: 0.5em;
    color: white;
    cursor: default;
}

#inicio .home-text span {
    font-weight: bold;
    font-size: 3.5em;
    height: 2.75em;
    line-height: 1.25em;
}

#inicio .home-text em {
    font-size: 2em;
}

#inicio .home-text p {
    font-size: 1.125em;
    max-width: 50em;
}

#inicio figcaption article footer a{
    padding: 0.5em;
    text-transform: uppercase;
    color: white;
    background-color: var(--bg-primary);
    border-radius: 1em;
}

#inicio figcaption article footer a:hover {
    background-color: var(--bg-secondary);
}

/* --------SOBRE NOSOTROS-------- */

#sobre-nosotros > article > aside {
    width: 40%;
}

#sobre-nosotros > article > aside > img {
    width: 100%;
    height: 14em;
    background-color: var(--bg-secondary);
}

#sobre-nosotros > article > div {
    flex: 1;
    height: 14em;
    padding-left: 3em;
}

#sobre-nosotros > article > div > header {
    margin-block: .5em 1em;
}

#sobre-nosotros > article > div > header > span {
    text-transform: uppercase;
    font-size: .67em;
}

/* ------SERVICIOS--------- */

#servicios > header {
    text-align: center;
    margin: 2em 0;
}

#servicios > header h3 {
    font-weight: bolder;
}

#servicios > ul {
    align-items: stretch;
    margin-bottom: 2em;
    gap: 1em;
}

#servicios .item {
    background-color: #eee;
    padding: 2em;
    border-radius: 1em;
    min-height: 16em;
}

#servicios .item > div > strong {
    font-size: 1.25em;
    color: white;
}

#servicios .item > header {
    position: relative;
    gap: 0.5em;
    margin-bottom: 1em;
    max-width: 16em;
}

#servicios .item > header span {
    font-size: 0.75em;
}

#servicios .item > article {
    flex-grow: 1;
}

#servicios .item > article > ul {
    list-style: none;
    gap: 0.5em;
}

#servicios .item > article > ul > li .check {
    background-color: #78e08f;
}

#servicios .item > article > ul > li > span{
    white-space: pre-wrap;
}

#servicios .item > footer {
    margin-top: 2em;
    text-align: center;
}

#servicios .item > footer > a {
    background-color: var(--bg-primary);
    padding: .5em 1em;
    border-radius: 1em;
    font-weight: 600;
    color: white;
    transition: all 0.5s;
}

#servicios .item > footer > a:hover {
    background-color: var(--bg-secondary);
}


/* -------- CONTACTO --------- */

#contacto {
    background-color: whitesmoke;
}

#contacto > div {
    padding: 2em;
}

#contacto > div > aside {
    width: 40%;
}

#contacto > div > aside > ul {
    margin-top: 2em;
}

#contacto .socials {
    margin-block: .5em;
    padding: 1em;
    background-color: gray;
}

#contacto > div > section {
    flex: 1;
    padding: 1em;
    background-color: white;
    border-radius: .5em;
}

#contacto .formulario {
    margin-top: 2em;
    text-align: center;
}

#contacto .formulario > div {
    width: 100%;
    margin-block: .5em;
}

#contacto .formulario > div > input,
#contacto .formulario > div > textarea {
    width: 100%;
    border: none;
    padding: .5em;
    border-bottom: 1px solid var(--bg-primary);
    resize: none;
    outline: none;
}

#contacto .formulario > div > div {
    margin-block: .5em;
}

#contacto .formulario > div > div > label > input {
    display: none;
}

#contacto .formulario > div > div > label {
    width: 3em;
    height: 3em;
    background-color: var(--bg-secondary);
    margin-inline: .5em;
}

#contacto .formulario > div > div > label.active {
    background-color: var(--bg-primary);
}

#contacto .formulario > div > span {
    color: var(--color-secondary);
}

#contacto .formulario > div > a {
    background-color: var(--bg-primary);
    color: white;
    padding: .5em 2em;
    border-radius: 1em;
}

/* -------------------------- */

#footer {
    background-color: gray;
    padding: 2em 2em .5em 2em;
    margin-top: 2em;
}

#footer > section {
    justify-content: space-around;
}

#footer > section > aside > span {
    width: 15em;
}

#footer > div:last-child {
    margin-top: 1em;
    text-align: center;
}
