* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

#sobre-nosotros,
#contacto,
#servicios {
    margin: 2em 2em 0 2em;
}

/* -------------------------- */

.navbar {}
.navbar > nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 2em;
}
.navbar > nav > ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* -------------------------- */

#inicio {}

/* -------------------------- */

#sobre-nosotros > article {
    display: flex;
    align-items: center;
    justify-content: center;
}

#sobre-nosotros > article > aside {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

#sobre-nosotros > article > div {
    flex: 1;
}

#sobre-nosotros > article > aside > header {
    display: flex;
    flex-direction: column;
}

/* -------------------------- */

#servicios {
    display: flex;
    align-items: center;
    justify-content: center;
}

#servicios > header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 40%;
}

/* -------------------------- */

#contacto {
    background-color: whitesmoke;
}

#contacto > div {
    padding: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contacto > div > aside {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

#contacto > div > aside > header {
    display: flex;
    flex-direction: column;
    align-items: start;
}

#contacto > div > aside > ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

#contacto .socials {
    margin-block: .5em;
    padding: 1em;
    background-color: gray;
    display: flex;
    align-items: center;
}

#contacto > div > section {
    flex: 1;
    padding: 1em;
    background-color: gray;
    border-radius: .5em;
}

#contacto > div > section > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* -------------------------- */

#footer {
    display: flex;
    flex-direction: column;
    background-color: gray;
    padding: 2em 2em .5em 2em;
    margin-top: 2em;
}

#footer > section {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#footer > section > aside, 
#footer > section > div,
#footer .links, 
#footer .links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

#footer > section > aside > span {
    width: 15em;
}

#footer > div:last-child {
    margin-top: 1em;
    text-align: center;
}
